SERVICE_NAME=example
POSTGRES_URL=postgres://immoSign:immoSign@postgres:5432/immosign
MONGO_URL=mongodb://immosign:immosign@mongodb:27017/immosign
PORT=3000
TOKEN_SECRET=kdazhbdjkahgu
TOKEN_LIFE=30d
REFRESHTOKEN_SECRET=dxxazhhajzgi
REFRESHTOKEN_LIFE=365d